appdirs==1.4.4
attrs==19.3.0
autopep8==1.5.2
certifi==2020.4.5.1
distlib==0.3.0
filelock==3.0.12
more-itertools==8.3.0
packaging==20.4
pipenv==2018.11.26
pluggy==0.13.1
py==1.8.1
pycodestyle==2.6.0
pyparsing==2.4.7
pytest==5.4.2
six==1.15.0
virtualenv==20.0.21
virtualenv-clone==0.5.4
wcwidth==0.1.9
